body {
    padding: 20px;
    margin-top: 26px;
}

.transition {
  -moz-transition: background .3s, all .8s;
  -ms-transition: background .3s, all .8s;
  -o-transition: background .3s, all .8s;
  -webkit-transition: background .3s, all .8s;
  transition: background .3s, all .8s;
}

.shadow-bottom {
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

.shadow-box {
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  -ms-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  -o-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

#message {
    position: fixed;
    left: 0;
    top: -36px;
    width: 100%;
    height: 26px;
    padding: 4px;
    line-height: 26px;
    background-color: orange;
}

#message.active {
    top: 0;
}

.bar {
  padding: 8px;
  margin-top: 12px;
}

.panel {
    float: left;
    margin-top: 12px;
    margin-right: 12px;
    padding: 8px;
}

.bar header, .panel header {
    font-weight: bold;
    font-size: 1.2em;
}

.panel form {
    position: relative;
    width: 320px;
    padding: 0;
    margin: 0;
}

.panel textarea {
    max-width: 314px;
    width: 314px;
    height: 120px;
}

.list {
    list-style: none;
    padding: 0;
}

.entry {

}

.btn {
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 30px;
    outline: none;
    padding: 3px;
    width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background-image(linear-gradient(top,#4387fd,#4683ea));
    color: #fff;
    font-weight: bold;
    line-height: 29px;
    min-width: 54px;
    text-align: center;
    text-decoration: none;
}

.btn:active {
    background: -webkit-linear-gradient(top,#3c7ae4,#3f76d3);
    background-image(linear-gradient(top,#3c7ae4,#3f76d3));
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.15);
}
